:root {
  --clip: 100%;
  --clipReact: 0%;
  --clipReactRound: 0px;
}
.clipContainer {
  clip-path: circle(var(--clip) at 50% 45%);
}

:root {
  --clip-1: 5%;
  --clipReact-1: 100%;
  --clipReactRound-1: 0px;
}
.clipping {
  clip-path: circle(var(--clip-1) at 50% 50%);
}
